<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Speak <small>&amp;</small> Listen</h2>
        <img src="images/flat-avatar.png" class="user-avatar" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('list_exams')}"><a ui-sref="list_exams">Exams<span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('create_exam')}"><a ui-sref="create_exam">Create an Exam</a></li>
        <li ng-class="{active: $state.includes('find_exam')}"><a ui-sref="find_exam">Take an Exam</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>