<div>
	<a ui-sref="list_exams" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Exams <small>List View</small></h2>
	<div class="jumbotron">
		<div class="container" data-ng-init="init()">
            <h4 ng-show="exams.length > 0">My Exams</h4>
            <ul class="list-group">
                <li ng-repeat="exam in exams" class="list-group-item">
                  <div class="container">
				    <button ng-click="goToExam(exam)" class="list-group-item">{{exam.name}}</button>
		          </div>
                </li>
                <button ui-sref="create_exam" ng-show="!exams.length" class="btn btn-primary btn-outline btn-rounded">Create Your First Exam</button>
            </ul>
		</div>
	</div>
</div>