<div>
	<a ui-sref="list_exams" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Exams <small>View Your Exams</small></h2>
	<div class="jumbotron">
		<div class="container" data-ng-init="init()">
            <ul class="list-group">
                <li ng-repeat="exam in exams" class="list-group-item">
                    <div class="container">
			         <form role="form">
				        <div class="form-content">
					       <div class="form-group">
                            {{exam.name}}<input type="hidden" ng-model="exam._id" id="" value={{exam._id}}>
					       </div>
				        </div>
				        <button type="submit" ng-click="goToExam(exam)" class="pull-left btn btn-primary btn-outline btn-rounded">View</button>
                        <button id="deleteButton" ng-click="deleteExam(exam)" class="pull-left btn btn-primary btn-outline btn-rounded">Delete</button>
			         </form>
		          </div>
                </li>
                <div ng-show="!exams.length" class="list-group-item">You Don't Have any Exams Yet</div>
            </ul>
		</div>
	</div>
</div>