<div>
	<a ui-sref="list_exams" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Exam in Progress <small>Follow the Instructions</small></h2>
	<div class="jumbotron">
        <button disabled="" id="examSubBtn"ng-click="submitExam()" class="btn btn-primary btn-outline btn-rounded">Submit</button>
        <button ng-click="cancelExam()" class="btn btn-primary btn-outline btn-rounded">Cancel</button>
        <hr />
		<div class="container">
            <div>
                <div ng-include="'views/dashboard/responseRecorder.html'"></div>
            </div>
		</div>
	</div>
</div>