extends layout

block content
  h1= title
  p Create a new question for exam #{exam_id}
  
  form(action="/exams/#{exam_id}/questions", method="post", enctype="multipart/form-data")
    input(type="file", name="question")
    button(type="submit")