doctype html
html()
  head
    meta(charset='utf8')
    base(href='/')
    title CKLLS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  body
    block body