doctype html
html(ng-app="ckllsApp")
  head
    meta(charset='utf8')
    base(href='/')
    title CKLLS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body